/* Aplica a redefinição de margem e preenchimento em todos os elementos HTML e body, e define altura total e desativa a rolagem */
body, html {
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o preenchimento padrão */
  height: 100%; /* Define a altura como 100% da altura da janela de visualização */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o limite da altura definida */
}

/* Estiliza a div de imagem de fundo para cobrir a parte superior da tela */
.background-image {
  background-image: url('fundo.png'); /* Define a imagem de fundo */
  background-size: 100% 100%; /* Escala a imagem para cobrir completamente a área definida */
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  width: 100%; /* Largura completa da área de visualização */
  height: calc(66.67vh); /* Altura definida como dois terços da altura da janela de visualização */
}

/* Configura o layout e estilo do conteúdo principal onde o sorteio ocorre */
.content {
  position: relative; /* Posiciona relativamente para permitir o posicionamento absoluto dos filhos se necessário */
  width: 100%; /* Largura completa da área de visualização */
  height: calc(33.33vh); /* Altura definida como um terço da altura da janela de visualização */
  background: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência para visibilidade do texto */
  text-align: center; /* Centraliza o texto dentro do div */
  padding: 20px 0; /* Adiciona preenchimento vertical para espaçamento */
  box-shadow: 0 -5px 10px rgba(0,0,0,0.5); /* Sombra para dar efeito de profundidade */
}

/* Estiliza o elemento que exibirá o nome do vencedor */
#winnerName {
  color: yellow; /* Cor do texto em amarelo para destaque */
  margin-top: 20px; /* Margem superior para espaçamento do topo */
  font-size: 78px; /* Tamanho grande do fonte para destaque */
}

/* Estiliza o botão de sorteio */
button {
  padding: 10px 20px; /* Preenchimento para tornar o botão maior e mais clicável */
  font-size: 16px; /* Tamanho do texto do botão */
  color: white; /* Cor do texto do botão */
  background-color: darkorange; /* Cor de fundo do botão */
  border: none; /* Sem bordas para um visual mais limpo */
  border-radius: 5px; /* Bordas arredondadas para estética moderna */
  cursor: pointer; /* Cursor de ponteiro para indicar clicabilidade */
}

/* Efeito de hover para o botão, mudando a cor de fundo ao passar o mouse */
button:hover {
  background-color: orange; /* Cor de fundo mais clara ao passar o mouse */
}
